@model MVCInventario.Models.ProductoViewModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Clientes.css">
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>

<h1 class="titulo separacion" style="color:black; text-align:center">PRODUCTOS</h1>
<div class="text-center separacion">
    <a asp-action="Create" style="color:black" class="hexagoncli">Crear <i class="fa-solid fa-boxes-stacked fa-4x" style="color: #000000;"></i></a>
    <a asp-action="LeerArchivoCSV" style="color:black" class="hexagoncli">Cargar <i class="fa-solid fa-file-csv fa-4x" style="color: #000000;"></i></a>
</div>
<br>
<div class="contenedortable separacion">
    <table class="table" style="color:black">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Productos[0].CODIGOPRODUCTO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Productos[0].NOMBREPRODUCTO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Productos[0].DESCRIPCIONPRODUCTO)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.Productos[0].STOCKPRODUCTO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Productos[0].PVPPRODUCTO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Productos[0].CATEGORIAPRODUCTO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Productos[0].FOTOPRODUCTO)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Productos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CODIGOPRODUCTO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NOMBREPRODUCTO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DESCRIPCIONPRODUCTO)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.STOCKPRODUCTO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PVPPRODUCTO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CATEGORIAPRODUCTO)
                    </td>
                    <td>
                        <img src="@item.FOTOPRODUCTO" width="100" height="100">
                    </td>
                    @if (User.IsInRole("Jefe"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.id">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.id">Eliminar</a> |
                            <a href="#" onclick="showBarcodeModal(@item.CODIGOPRODUCTO)">Generar Código de Barras</a>
                        </td>
                    }
                    else
                    {
                        @if (User.IsInRole("Operador"))
                        {
                            <td>
                             
                                <a asp-action="Details" asp-route-id="@item.id">Detalles</a> |
                              
                                <a href="#" onclick="showBarcodeModal(@item.CODIGOPRODUCTO)">Generar Código de Barras</a>
                            </td>
                        }else{
                        @if (User.IsInRole("Administrador"))
                        {
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                                    <a asp-action="Details" asp-route-id="@item.id">Detalles</a> |
                                    <a asp-action="Delete" asp-route-id="@item.id">Eliminar</a> |
                                    <a href="#" onclick="showBarcodeModal(@item.CODIGOPRODUCTO)">Generar Código de Barras</a>
                                </td>
                        }
                        else
                        {
                            <td>
                                <a asp-action="Details" asp-route-id="@item.id">Detalles</a>
                            </td>
                        }

                    }}
                </tr>
            }
        </tbody>
    </table>
    <div id="barcodeModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="hideBarcodeModal()">&times;</span>
            <h1 id="nombreProducto"></h1>
            <img id="barcode" src="" alt="Código de barras">
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>
<script>
    function showBarcodeModal(code) {
        document.getElementById("barcodeModal").style.display = "block";
        generateBarcode(code);
    }

    function hideBarcodeModal() {
        document.getElementById("barcodeModal").style.display = "none";
    }

    function generateBarcode(code) {
        var barcodeValue = code.toString().padStart(10, "0"); // Agrega ceros a la izquierda si es necesario
        JsBarcode("#barcode", barcodeValue, {
            format: "CODE128",
            displayValue: true,
            fontSize: 30,
            textMargin: 10
        });
        var barcodeImage = document.getElementById("barcode");
        barcodeImage.style.display = "block";
        var downloadLink = document.createElement("a");
        downloadLink.href = barcodeImage.src;
        downloadLink.download = barcodeValue + ".png";
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
        document.getElementById("barcodeValue").value = ""; // Limpiar el textbox
    }
</script>