@model MVCInventario.Models.SALIDA

@{
    ViewData["Title"] = "Detalle Salida -";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Clientes.css">

</head>
<h1 style="color:black; text-align:center" class="separacion">Detalles de la salida</h1>
<hr />
<br />
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 bg-light border rounded text-center">
        <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cliente)
        </dt>
        <dd class="col-sm-10 ">
            @Html.DisplayFor(model => model.cliente)
        </dd>
        <dt class="col-sm-2 ">
            @Html.DisplayNameFor(model => model.producto)
        </dt>
        <dd class="col-sm-10 ">
            @Html.DisplayFor(model => model.producto)
        </dd>
        <dt class="col-sm-2 ">
            @Html.DisplayNameFor(model => model.FECHAREGISTROSALIDA)
        </dt>
        <dd class="col-sm-10 ">
            @Html.DisplayFor(model => model.FECHAREGISTROSALIDA)
        </dd>
        <dt class="col-sm-2 ">
            @Html.DisplayNameFor(model => model.CANTIDADSALIDA)
        </dt>
        <dd class="col-sm-10 ">
            @Html.DisplayFor(model => model.CANTIDADSALIDA)
        </dd>
        <dt class="col-sm-2 ">
            @Html.DisplayNameFor(model => model.MONTOTOTALSALIDA)
        </dt>
        <dd class="col-sm-10 ">
            @Html.DisplayFor(model => model.MONTOTOTALSALIDA)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
        <a asp-action="Index">Regresar</a>
    </div>
    <br />
</div>
</div>
