@model MVCInventario.Models.SALIDA

@{
    ViewData["Title"] = "Detalles";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Clientes.css">

</head>

<div>
    <h4>SALIDA</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 col">
            @Html.DisplayNameFor(model => model.cliente)
        </dt>
        <dd class="col-sm-10 col">
            @Html.DisplayFor(model => model.cliente)
        </dd>
        <dt class="col-sm-2 col">
            @Html.DisplayNameFor(model => model.producto)
        </dt>
        <dd class="col-sm-10 col">
            @Html.DisplayFor(model => model.producto)
        </dd>
        <dt class="col-sm-2 col">
            @Html.DisplayNameFor(model => model.FECHAREGISTROSALIDA)
        </dt>
        <dd class="col-sm-10 col">
            @Html.DisplayFor(model => model.FECHAREGISTROSALIDA)
        </dd>
        <dt class="col-sm-2 col">
            @Html.DisplayNameFor(model => model.CANTIDADSALIDA)
        </dt>
        <dd class="col-sm-10 col">
            @Html.DisplayFor(model => model.CANTIDADSALIDA)
        </dd>
        <dt class="col-sm-2 col">
            @Html.DisplayNameFor(model => model.MONTOTOTALSALIDA)
        </dt>
        <dd class="col-sm-10 col">
            @Html.DisplayFor(model => model.MONTOTOTALSALIDA)
        </dd>
    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
