@model MVCInventario.Models.SALIDA

@{
    ViewData["Title"] = "Detalle Salida -";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Clientes.css">

</head>
<h1 style="color:black; text-align:center" class="separacion">Detalles de la salida</h1>
<hr />
<br />
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 bg-light border rounded text-center">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.cliente)
            </dt>
            <dd class="col-sm-10 ">
                @Html.DisplayFor(model => model.cliente)
            </dd>
            <dt class="col-sm-2 ">
                @Html.DisplayNameFor(model => model.producto)
            </dt>
            <dd class="col-sm-10 ">
                @Html.DisplayFor(model => model.producto)
            </dd>
            <dt class="col-sm-2 ">
                @Html.DisplayNameFor(model => model.FECHAREGISTROSALIDA)
            </dt>
            <dd class="col-sm-10 ">
                @Html.DisplayFor(model => model.FECHAREGISTROSALIDA)
            </dd>
            <dt class="col-sm-2 ">
                @Html.DisplayNameFor(model => model.CANTIDADSALIDA)
            </dt>
            <dd class="col-sm-10 ">
                @Html.DisplayFor(model => model.CANTIDADSALIDA)
            </dd>
            <dt class="col-sm-2 ">
                @Html.DisplayNameFor(model => model.MONTOTOTALSALIDA)
            </dt>
            <dd class="col-sm-10 ">
                @Html.DisplayFor(model => model.MONTOTOTALSALIDA)
            </dd>
            <dt class="col-sm-2">
                Estado
            </dt>
            <dd class="col-sm-10">
                @if (Model.ANULARSALIDA == 0)
                {
                    <i class="fas fa-check fa-lg" style="color: #22b940;"></i> <!-- Icono de visto -->
                }
                else
                {
                    <i class="fas fa-times fa-lg" style="color: red;"></i> <!-- Icono de " x" -->
                }
            </dd>
        </dl>
        @if (User.IsInRole("Jefe,Administradore"))
        {
            <div>
                <a asp-action="Index">Volver a la lista</a>
            </div>
        }
        else
        {
            @if (User.IsInRole("Administrador"))
            {
                <div>
                    <a asp-action="Index">Volver a la lista</a>
                </div>
            }
            else
            {
                <div>
                    <a asp-action="Index">Volver a la lista</a>
                </div>
            }
        }
        <br />
    </div>
</div>
