@model MVCInventario.Models.SalidaViewModel

@{
    ViewData["Title"] = "Salidas";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Clientes.css">

</head>

<h1 class="titulo separacion" style="color:black; text-align:center">SALIDAS</h1>
<div class="text-center separacion">
    <a asp-action="Create" style="color:black" class="hexagoncli">Crear<i class="fa-solid fa-arrow-up fa-3x" style="color: #000000;"></i></a>
</div>
<br />
<form asp-controller="SALIDA" asp-action="Index" method="get">
    <p style="color: black; font-size:1.2em;">
        Nombre del cliente:
        <input name="ClienteSearchString" type="text" asp-for="ClienteSearchString" id="search-input" placeholder="Ingrese el cliente">
        <br /><br />
        Ingrese la fecha:
        <input name="FechaSearchString" type="date" asp-for="FechaSearchString" id="search-input" placeholder="Ingrese la fecha">
        <br /><br />

        <input type="submit" class="bg-primary text-white" value="Buscar" style="margin-left: 20px; background-color: #cdd0d1" />
        <br />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Salidas[0].cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salidas[0].producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salidas[0].FECHAREGISTROSALIDA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salidas[0].CANTIDADSALIDA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salidas[0].MONTOTOTALSALIDA)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Salidas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.producto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHAREGISTROSALIDA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CANTIDADSALIDA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MONTOTOTALSALIDA)
                </td>
                @if (User.IsInRole("Jefe"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.id">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.id">Eliminar</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.id">Detalles</a>
                    </td>

                }
            </tr>
        }
    </tbody>
</table>
<br />
<br />
@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert("@TempData["ErrorMessage"]");
    </script>
}
