@model MVCInventario.Models.CLIENTE

@{
    ViewData["Title"] = "Eliminar Cliente -";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Clientes.css">
</head>
<h1 style="color:black; text-align:center" class="separacion">Eliminar datos del cliente</h1>
<hr />
<br />
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 bg-light border rounded text-center">
        <p class="lead font-weight-bold">¿Está seguro de que desea eliminar este cliente?</p>
        <dl class="row listado">
            <dt class="col-sm-3 ">
                @Html.DisplayNameFor(model => model.CEDULACLIENTE)
            </dt>
            <dd class="col-sm-9 text-left">
                @Html.DisplayFor(model => model.CEDULACLIENTE)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.NOMBRECLIENTE)
            </dt>
            <dd class="col-sm-9 text-left">
                @Html.DisplayFor(model => model.NOMBRECLIENTE)
            </dd>
        </dl>
        <br />
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-action="Index">Cancelar</a>
        </form>
        <br />
    </div>
    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            alert("@TempData["ErrorMessage"]");
        </script>
    }
</div>
