@model MVCInventario.Models.CLIENTE

@{
    ViewData["Title"] = "Detalle Cliente -";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Clientes.css">
</head>
<h1 style="color:black; text-align:center" class="separacion">Detalles del cliente</h1>
<hr />
<br />
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 bg-light border rounded text-center">
        <dl class="row listado">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CEDULACLIENTE)
            </dt>
            <dd class="col-sm-9 text-left">
                @Html.DisplayFor(model => model.CEDULACLIENTE)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.NOMBRECLIENTE)
            </dt>
            <dd class="col-sm-9 text-left">
                @Html.DisplayFor(model => model.NOMBRECLIENTE)
            </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
            <a asp-action="Index">Volver a la lista</a>
        </div>
        <br />
    </div>
</div>
