@model MVCInventario.Models.ClienteViewModel

@{
    ViewData["Title"] = "Clientes -";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Clientes.css">
    <script src="~/js/opcionesSelectCliente.js"></script>
</head>

<h1 class="titulo separacion" style="color:black; text-align:center">CLIENTES</h1>
<div class="text-center separacion">
    <a asp-action="Create" style="color:black" class="hexagoncli">Crear <i class="fa-solid fa-user fa-4x" style="color: #000000;"></i></a>
</div>
<form>
    <div class="search-container">
        <label for="search-input" style="color: black; font-size:1.5em;">Buscar por</label>
        <select class="form-select" id="selectCliente" style="margin-right:15px">
            <option value="1" selected disabled>Seleccione una opción</option>
            <option value="1">Cédula</option>
            <option value="2">Nombre</option>
        </select>
        <div id="opcionCliente">
        </div>
        <input id="btnBuscar" class="bg-primary text-white" style="margin-left: 20px; background-color: #cdd0d1" type="submit" value="Buscar Todos" />
    </div>

</form>
<br />
<div class="contenedortable separacion">
    <table class="table" style="color:black">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Clientes[0].CEDULACLIENTE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clientes[0].NOMBRECLIENTE)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Clientes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CEDULACLIENTE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NOMBRECLIENTE)
                    </td>
                    @if (User.IsInRole("Jefe"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                        </td>

                    }
                </tr>
            }
        </tbody>
    </table>
    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            alert("@TempData["ErrorMessage"]");
        </script>
    }
</div>
<script src="~/js/opcionesSelectCliente.js"></script>
