@model MVCInventario.Models.PROVEEDOR

@{
    ViewData["Title"] = "Detalle Proveedor -";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Proveedores.css">
</head>
<h1 style="color:black; text-align:center" class="separacion">Detalles del proveedor</h1>
<hr />
<br />
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 bg-light border rounded text-center">
    <dl class="row listadopro">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEDULAPROVEEDOR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEDULAPROVEEDOR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOMBREPROVEEDOR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOMBREPROVEEDOR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DIRECCIONPROVEEDOR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DIRECCIONPROVEEDOR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CORREOPROVEEDOR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CORREOPROVEEDOR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CIUDADPROVEEDOR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CIUDADPROVEEDOR)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
        <a asp-action="Index">Volver a la lista</a>
    </div>
    <br />
</div>
</div>

