@model MVCInventario.Models.ProveedorViewModel

@{
    ViewData["Title"] = "Proveedores -";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Proveedores.css">
    <script src="~/js/opcionesSelectProveedor.js"></script>
</head>

<h1 class="titulo separacionpro" style="color:black; text-align:center">PROVEEDORES</h1>
<div class="text-center separacionpro">
    <a asp-action="Create" style="color:black" class="hexagonpro">Crear <i class="fa-solid fa-truck-fast fa-3x"></i></a>
</div>
<form>
    <div class="search-container-pro">
        <label for="search-input" style="color: black; font-size:1.5em;">Buscar por</label>
        <input name="CedString" type="text" asp-for="CedString" id="search-input" placeholder="Ingrese el RUC">
        <div id="opcionProveedor">
        </div>
        <input id="btnBuscarPro" class="bg-primary text-white" style="margin-left: 20px; background-color: #cdd0d1" type="submit" value="Buscar " />
    </div>

</form>
<br />
<div class="contenedortablepro separacion">
    <table class="tablepro">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Proveedores[0].CEDULAPROVEEDOR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Proveedores[0].NOMBREPROVEEDOR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Proveedores[0].DIRECCIONPROVEEDOR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Proveedores[0].CORREOPROVEEDOR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Proveedores[0].CIUDADPROVEEDOR)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Proveedores) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CEDULAPROVEEDOR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBREPROVEEDOR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIRECCIONPROVEEDOR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CORREOPROVEEDOR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CIUDADPROVEEDOR)
                </td>
                    @if (User.IsInRole("Jefe"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                        </td>

                    }
            </tr>
    }
        </tbody>
    </table>
    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            alert("@TempData["ErrorMessage"]");
        </script>
    }
</div>
<script src="~/js/opcionesSelectProveedor.js"></script>
